<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>个人主页</title>
	<link href="Css/lan.css" rel="stylesheet" type="text/css" />
	<script src="Scripts/common_tpl.js" type="text/javascript"></script>
	<script src="jquery-3.0.0.min.js" type="text/javascript"></script>
	<script src="template-web.js" type="text/javascript"></script>
	<script src="./model/base-model.js" type="text/javascript"></script>
	<script src="./model/message-model.js" type="text/javascript"></script>
</head>

<body style="background-image: url(Images/bg.png)">

	<div id="top">
		<dl>
			<span>
				<a href="http://www.javacui.com//m" target="_blank">手机端</a>
			</span>小强原创文章，java小强个人博客站点</dl>
	</div>

	<div id="w980">
		<div id="nav">
			<ul>
				<ul class="bar">
					<li class="item common">
						<a href="index.html">
							<span>首页</span>
						</a>
					</li>
					<li class="item common">
						<a href="weiyu.html">
							<span>微语</span>
						</a>
					</li>
					<li class="item common">
						<a href="readme.html">
							<span>关于我</span>
						</a>
					</li>
					<li class="item current">
						<a href="leaveMessage.html">
							<span>留言薄</span>
						</a>
					</li>
				</ul>
			</ul>
		</div>

		<div id="place">当前位置：
			<a href="index.html">首页</a> >> 留言薄</div>
		<div id="cennr">
			<div id="left" class="xian">
				<dl id="info">
					<dt>
						<h1>留言薄</h1>
						<span>
							<em class="kan">15</em>
							<em class="ping">114</em>
						</span> 2015-12-10 20:11 Thursday </dt>


					<dd id="zi">
						<span style="font-size:14px;">
							<strong>上联：为系统而生，为框架而死，为debug奋斗一辈子！</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> 下联：吃符号的亏，上大小写的当，最后死在需求上！</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> 横批：杯具程序员！</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> =============================================</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> 上联：no error,no bug,never stop。</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> 下联：more faster,more safer,aways running。</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> 求横批，除了Hello,world。</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> =============================================</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> 友联申请的，请写自己博客地址！</strong>
						</span>
						<br />
						<span style="font-size:14px;">
							<strong> =============================================</strong>
						</span>
						<br />
					</dd>

				</dl>

				<div id="comment-place">
					<div class="comment-post" id="comment-post">
						<div class="cancel-reply" id="cancel-reply" style="display:none">
							<a href="javascript:void(0);" onclick="cancelReply()">取消回复</a>
						</div>
						<h3 class="comment-header">发表评论：
							<a name="respond"></a>
						</h3>

						<form method="post" name="commentform"  id="commentform">
							<p class="uinfo">
								<input type="text" name="comname" maxlength="49" value="" size="22" tabindex="1">
								<label for="author">
									<small>昵称 (
										<font color="#CC0000">必填</font>)</small>
								</label>
							</p>
							<p class="uinfo">
								<input type="text" name="commail" maxlength="128" value="" size="22" tabindex="2">
								<label for="email">
									<small>邮箱</small>
								</label>
							</p>
							<p class="uinfo">
								<input type="text" name="comurl" maxlength="128" value="" size="22" tabindex="3">
								<label for="url">
									<small>主页</small>
								</label>
							</p>
							<div class="clear"></div>
							<p class="utext">
								<textarea name="comment" id="comment" rows="10" tabindex="4"></textarea>
							</p>
							<p class="btn">
								<img src="code/code_math.php" id="getcode_math" title="看不清，点击换一张" align="absmiddle"/>
								<input name="imgcode" type="text" class="input" size="5" tabindex="5" id="code_math" />
								<input type="button" id="comment_submit" value="发表评论" tabindex="6" />
							</p>
							<input type="hidden" name="pid" id="comment-pid" value="0" size="22" tabindex="1" />
						</form>
					</div>
				</div>
				<a name="comments"></a>
				<h3 class="comment-header">评论：</h3>

				<div id="messageList">
				</div>
				
				<script id="messageListTemplate" type="text/html">
					<div class="comment" id="comment-{{id}}">
							<a name="{{id}}"></a>
							<div class="comment-info">
								<a style="float:right" href="#comment-{{id}}" onclick="commentReply({{id}},this)">回复</a>
								<b>
									{{if link}}
									<a href="{{link}}" style="color:green;font-weight:blod;" target="_blank">{{nike_name}}</a>
									{{else}}
									<span>{{nike_name}}</span>
									{{/if}}
								</b> 评论于
								<span class="comment-time">{{create_time}}</span>
								<div class="comment-content">{{content}}</div>
							</div>
							{{if submenu}}
							{{each submenu val}}
							<div class="comment comment-children" id="comment-{{val.id}}">
								<a name="{{val.id}}"></a>
								<div class="comment-info">
									<b>
										<a style="float:right" href="#comment-{{val.id}}" onclick="commentReply({{val.id}},this)">回复</a>
										{{if val.link}}
										<a href="{{link}}" style="color:green;" target="_blank">{{val.nike_name}}</a>
										{{else}}
										<span>{{val.nike_name}}</span>
										{{/if}}
									</b> 评论于
									<span class="comment-time">{{val.create_time}}</span>
									<div class="comment-content"><span style="color:blue;">@{{val.reply || nike_name}}：</span>{{val.content}}</div>
								</div>
							</div>
							{{/each}}
							{{/if}}
					</div>
				</script>

				<div id="pagenavi">
				</div>

			</div>

			<div id="rigth">
				<dl>
					<dt>个人资料</dt>
					<dd id="bloggerinfo">
						<div id="bloggerinfoimg">
							<img src="Picture/thum-80a71449481706.jpg" width="140" height="136" alt="blogger" />
						</div>
						<p>
							<b>java小强</b>
							<br /> 没有思考，人生的路会越走越难！ </p>
					</dd>
				</dl>
				<dl>
					<dt>搜索</dt>
					<dd>
						<ul id="logsearch">
							<form name="keyform" method="get" action="http://www.javacui.com/index.php">
								<input name="keyword" class="search" type="text" style="height:25px" />
							</form>
						</ul>
					</dd>
				</dl>
				<dl>
					<dt>分类</dt>
					<dd>
						<ul id="blogsort">
						</ul>
						<script id="classifyTemplate" type="text/html">
								<a href="index.html?id={{id}}" ><li class="classify">{{name}}({{count}})</li></a>
							</script>
					</dd>
				</dl>
				<dl>
					<dt>最新微语</dt>
					<dd>
						<ul id="twitter">
						</ul>
						<p>
							<a href="weiyu.html">更多&raquo;</a>
						</p>
						<script id="twitterTemplate" type="text/html">
								<li>
									<div class="weiyu-content">{{content}}</div>
									<p>{{create_time}}</p>
									<hr class="weiyu-hr">
								</li>
							</script>
					</dd>
				</dl>
				<dl>
					<dt>最新文章</dt>
					<dd>
						<ul id="newlog">
						</ul>
						<script id="newlogTemplate" type="text/html">
								<li>
									<a href="newsDetail.html?id={{id}}">{{title}}</a>
								</li>
							</script>
					</dd>
				</dl>
				<dl>
					<dt>热门文章</dt>
					<dd>
						<ul id="hotlog">
						</ul>
						<script id="hotlogTemplate" type="text/html">
								<li>
									<a href="newsDetail.html?id={{id}}">{{title}}</a>
								</li>
							</script>
					</dd>
				</dl>
				<!--end #siderbar-->
			</div>
			<div class="clear"></div>
		</div>

		<div class="clear"></div>
		<div id="footer">
			<strong>+友情链接</strong>
			<p>
				<table cellPadding="2" cellspacing="2">
					<tr id="FriendshipLink">						
					</tr>
					<script id="FriendshipLinkTemplate" type="text/html">
						<td style="padding-right:10px">
							<a style="color:#00688B;" href="{{link}}" title="" target="_blank">{{name}}</a>
						</td>
					</script>
				</table>
			</p>
		</div>
		<div class="clear"></div>
		<div id="footer" align="center">
			<a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备17117302号-1</a>&nbsp;
		</div>
	</div>
</body>

</html>